<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>${MODULE_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${MODULE_VERSION}</string>
	<key>OSBundleCompatibleVersion</key>
	<string>${MODULE_VERSION}</string>
	<key>CFBundleShortVersionString</key>
	<string>${MODULE_VERSION}</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleS5L8900XBasebandSPIController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>${MODULE_NAME}</string>
			<key>IOClass</key>
			<string>AppleS5L8900XBasebandSPIController</string>
			<key>IONameMatch</key>
			<string>spi,s5l8900x,baseband</string>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleS5L8920XBasebandSPIController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>${MODULE_NAME}</string>
			<key>IOClass</key>
			<string>AppleS5L8920XBasebandSPIController</string>
			<key>IONameMatch</key>
			<string>spi,s5l8920x,baseband</string>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>BasebandSPIDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>${MODULE_NAME}</string>
			<key>IOClass</key>
			<string>BasebandSPIDevice</string>
			<key>IOProviderClass</key>
			<string>BasebandSPIController</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
	</dict>
</dict>
</plist>
